



    <div class="col-xs-12 col-sm-4">
      <div class="cards">
        <div class="card">
          <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('https://www.ihk.ch/sites/default/files/styles/panopoly_image_original/public/recht.jpg?itok=dE7wOzri');">
            <span class="card-category"><%= lawyer.specialty.name %></span>
            <div class="card-description">
              <h2><%= lawyer.user.first_name.capitalize %></h2>
              <p><%= lawyer.address %></p>
            </div>
            <%= link_to lawyer_path(lawyer), class: "card-link" do %>
            <% end %>

          </div>
          <div class="card-footer">
            <p><%= lawyer.user.email %></p>
            <p>Member since <%= lawyer.created_at.strftime("%Y-%m-%d") %></p>
          </div>
        </div>
      </div>
      <% end %>

      <div id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @mapping.to_json %>">map</div>

  </div>

