



  <div class="wrapper" style ="background-color: white">

<div class="content">
    <div class="container-map">

  <h2 class="text-center">Choose your lawyer!</h2>

      <p style="text-align: center;"><a href="/lawyers" class="btn btn-primary btn-sm">See all lawyers</a> or
  <%= link_to "Create my own lawyer profile", new_lawyer_path %>
</p>



      <% @lawyers.each do |lawyer| %>
        <div class="col-xs-12 col-sm-6 ">
      <div class="cards">

          <div class="card">
            <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('https://www.ihk.ch/sites/default/files/styles/panopoly_image_original/public/recht.jpg?itok=dE7wOzri');">
              <span class="card-category"><%= lawyer.specialty.name %></span>
              <div class="card-description">
                <h2><%= lawyer.user.first_name.titleize %></h2>
                <p><%= lawyer.address %></p>
              </div>
              <%= link_to lawyer_path(lawyer), class: "card-link" do %>
              <% end %>
            </div>
            <div class="card-footer">
              <p><%= lawyer.professional_email %></p>
              <p>Member since 10/05/18</p>

            </div>
          </div>
        </div>
      </div>
    <% end %>




 </div>
  <div id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @mapping.to_json %>">map</div>
</div>





