<div class="login-form">
  <br>
<h3 style="text-align: center;">Please create you lawyer profile</h3>
  <br>




<%= simple_form_for(@lawyer) do |f| %>
<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="form-inputs">
 <%= f.association :specialty, as: :select %>
 <%= f.input :address %>
 <%= f.input :qualification %>
</div>
<div class="form-actions">
  <%= f.button :submit %>
</div>


<% end %>

</div>
