<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://law.uky.edu/sites/law.uky.edu/files/field/image/law%20photo.jpg');">


  <div class="profile text-center">
    <div class="main">
      <div class="main-content">
        <h2 style="color: black"><%= @lawyer.user.first_name %></h2>
        <p>Speciality: <%= @lawyer.specialty.name %></p>
      <%= cl_image_tag @lawyer.photo, :width=>250, :height=>250, :gravity=>"face", :radius=>"max", :crop=>"crop" %>
        <a href="#" class="btn btn-primary">Make an appointment</a>
        <%= simple_form_for [@lawyer, Appointment.new] do |f| %>
        <div class="modal-body">
          <div class="form-inputs">
            <div class="form-row">
              <%= f.input :date, as: :string, wrapper_html: { :id => "appointment_start_date", :class => "inline_field_wrapper" } %>
              <%= f.input :time, as: :string %>
              <%= f.submit :submit, class: "btn btn-base btn-brand", value: "Book" %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>






    <div class="description">
      <div class="description-content">
        <h2 style="color: black; margin-bottom: 15px;">Why hire <%= @lawyer.user.first_name %> ?</h2>

        <p class="text-justify" style="color: black;"><%= @lawyer.qualification %></p>
        <p>Location: <%= @lawyer.address.capitalize %></p>
        <p>Get in touch: <%= @lawyer.user.email %></p>
      </div>
      <% if current_user == @lawyer.user %>
      <%= link_to "edit my profile", edit_lawyer_path %>
      <% end %>
      <% if current_user == @lawyer.user %>
      <%= link_to "delete my profile", lawyer_path(@lawyer), method: :delete, data: {confirm: "Are you sure you want to delete your profile ?"} %>
      <% end %>
    </div>
  </div>
</div>
